.patient-new-form__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.patient-new-form__items-wrapper {
  max-width: 800px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.patient-new-form__add-address-btn {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 20px;
}
.patient-new-form__remove-address-btn {
  text-align: right;
}
nz-form-control {
  width: 360px;
}
